

	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				
				</div>
			</div>
			<div class="row justify-content-center">
        
				<div class="col-md-12 col-lg-10">
          
					<div class="wrap d-md-flex">
            
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last" >
              
							<div class="text w-100">
								<h2>Regístrate y obtén un audiolibro gratis</h2>
                <br> <br> <br>
                <div class="w-50 text-md-right">	<a>Escuchar tus audio libros favoritos, es mas facil que nunca</a></div>
                
							
							
							</div>





			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
                  <div class=""> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Audible_logo.svg/1200px-Audible_logo.svg.png" width="200" height="100" /></div>
                 

                  
			      		<h4 class="center-content">Registrarme con mi  cuenta de Amazon</h4>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Nombre</label>
			      			<input type="text" class="form-control" placeholder="Nombre" required>
			      		</div>
                <div class="form-group mb-3">
			      			<label class="label" for="name">Email</label>
			      			<input type="text" class="form-control" placeholder="@" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Contraseña</label>
		              <input type="password" class="form-control" placeholder="Contraseña" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary submit px-3">Registrarse</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Recordar
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Olvido su Contraseña?</a>
									</div>
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	


<router-outlet></router-outlet>
